---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.author__avatar img {
  border-radius: 10px;
}

.sidebar {
  opacity: 1;
}

body {
  background-image: url("/assets/images/crosshatch.svg");
  background-repeat: repeat;
  background-size: 1200px 900px;
}
