<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <nav>
        <a href="{{ '/' | relative_url }}" class="btn">Home</a>
        <a href="{{ '/projects/' | relative_url }}" class="btn">Projects</a>
        <a href="{{ '/resume/Stephanie_Gillihan_Resume.pdf' | relative_url }}" class="btn">Resume</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          <a href="https://github.com/sgillihan">github.com/sgillihan</a>
          &nbsp;|&nbsp;
          <a href="mailto:sgillihan@gmail.com">sgillihan@gmail.com</a>
        </span>
      </footer>
    </main>
  </body>
</html>
